<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pagoda.matchmeal.mapper.UserMapper">

    <!-- 회원가입 -->
    <insert id="save" useGeneratedKeys="true" keyProperty="userId">
        INSERT INTO users (email, platform, social_id, user_name, role, status,
                           gender, birth_date, height_cm, weight_kg, status_message, profile_image,
                           allergies, diseases, is_public, created_at)
        VALUES (#{email}, #{platform}, #{socialId}, #{userName}, #{role},
                #{status}, #{gender}, #{birthDate}, #{heightCm}, #{weightKg},
                #{statusMessage}, #{profileImage}, #{allergies}, #{diseases}, #{isPublic}, NOW())
    </insert>

    <!-- socialId 값으로 유저 검색 -->
    <select id="findBySocialId" resultType="com.pagoda.matchmeal.model.entity.User">
        SELECT *
        FROM users
        WHERE social_id = #{socialId}
    </select>

    <!-- id값으로 유저 검색 -->
    <select id="findById" resultType="com.pagoda.matchmeal.model.entity.User">
        SELECT *
        FROM users
        WHERE user_id = #{userId}
    </select>

    <!-- 회원이름 변경 -->
    <update id="updateUserName">
        UPDATE users
        SET user_name  = #{userName},
            updated_at = NOW()
        WHERE social_id = #{socialId}
    </update>

    <!-- 프로필 정보 수정 -->
    <update id="updateProfile" parameterType="User">
        UPDATE users
        SET user_name      = #{userName},
            gender         = #{gender},
            birth_date     = #{birthDate},
            height_cm      = #{heightCm},
            weight_kg      = #{weightKg},
            status_message = #{statusMessage},
            profile_image  = #{profileImage},
            allergies      = #{allergies},
            diseases       = #{diseases},
            updated_at     = NOW()
        WHERE user_id = #{userId}
    </update>

    <!-- 프로필 공개여부 설정-->
    <update id="updateVisibility" parameterType="User">
        UPDATE users
        SET is_public = #{isPublic}
        WHERE user_id = #{userId}
    </update>

</mapper>
